<!DOCTYPE html>
<html>
  <head>
    <title>Views</title>
	<link rel="stylesheet" type="text/css" href="Views.css">
  </head>
  <body>
    <div class="container1">
      <a href="Copy_view(updatable).php" target="_self"><button class="button button1">Copy View</button></a>
      <a href="Books_borrowed_per_day(non_updatable).php" target="_self"><button class="button button2">Books Borrowed per day</button></a>
	</div>
	<br>
	<div class="container2">
	  <a href="View_insert.php" target="_self"><button class="button_v button3">Insert Into Copy View</button></a>
	  <a href="View_update.php" target="_self"><button class="button_v button4">Update Copy View</button></a>
	  <a href="View_delete.php" target="_self"><button class="button_v button5">Delete From Copy View</button></a>
	</div>
  </body>
</html>